<!DOCTYPE html>
<html lang="en" data-ng-app="myAppName">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="app/img/logo.png"/>
    <meta name="description" content="{{app.description}}">
   <title data-ng-bind="pageTitle()">Cab Link</title>

   <link rel="stylesheet" href="app/css/app.css">
   <link rel="stylesheet" href="app/css/custom-style.css">

   <link rel="stylesheet" href="vendor/bootstrap-daterangepicker-master/daterangepicker-bs3.css">
    <link rel="stylesheet" href="vendor/bootstrap-dateTimePicker/bootstrap-datetimepicker.min.css">


</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>


   <script src="vendor/jquery/jquery.js"></script>

   <script src="app/js/base.js"></script>
   <!--<script src="http://monospaced.github.io/angular-elastic/elastic.js"></script>   &lt;!&ndash;elastic js for textarea autogrow &ndash;&gt;-->

   <script src="vendor/angular-google-maps/angular-google-maps.min.js?key=AIzaSyBYEaXbsVHu9OZs1ikBzv9KL0JiRgUgWAk"></script>
   <script src="vendor/angular-google-maps/lodash.min.js?key=AIzaSyBYEaXbsVHu9OZs1ikBzv9KL0JiRgUgWAk"></script>

   <script src ="vendor/angular-img-crop/angular-img-crop.js"></script>
   <script src ="vendor/canvas-to-blob.js"></script>


   <script src="app/js/socket.io.js"></script>
   <script src="app/bower_components/angular-socket-io/socket.min.js"></script>
   <script src="app/js/app.js"></script>
   <script src="app/js/myApp.js"></script>
   <script src="app/js/services.js"></script>
   <script src="app/js/commonmethods.js"></script>
   <script src="app/js/controllers/list-admin-ctrl.js"></script>
   <script src="app/js/controllers/add-admin-ctrl.js"></script>
   <script src="app/js/controllers/promocode-ctrl.js"></script>
   <script src="app/js/controllers/reports-ctrl.js"></script>
   <script src="app/js/controllers/login-ctrl.js"></script>
   <script src="app/js/controllers/register-ctrl.js"></script>
   <script src="app/js/controllers/dashboard-ctrl.js"></script>
   <script src="app/js/controllers/mydrivers-ctrl.js"></script>
   <script src="app/js/controllers/pendingdriver-ctrl.js"></script>
   <script src="app/js/controllers/dashboard-ctrl.js"></script>
   <script src="app/js/controllers/dashboard-report-ctrl.js"></script>
   <script src="app/js/controllers/list-vehicle-ctrl.js"></script>
   <script src="app/js/controllers/active-driver-ctrl.js"></script>
   <script src="app/js/controllers/passenger-ctrl.js"></script>
   <script src="app/js/controllers/payment-ctrl.js"></script>
   <script src="app/js/controllers/corporate-ctrl.js"></script>
   <script src="app/js/controllers/add-promo-ctrl.js"></script>
   <script src="app/js/controllers/edit-promo-ctrl.js"></script>
   <script src="app/js/controllers/fare-ctrl.js"></script>
   <script src="app/js/controllers/help-faq-ctrl.js"></script>
   <script src="app/js/controllers/add-driver-ctrl.js"></script>
   <script src="app/js/controllers/rides-ctrl.js"></script>
   <script src="app/js/controllers/ongoing-rides-ctrl.js"></script>
   <script src="app/js/controllers/missed-rides-ctrl.js"></script>
   <script src="app/js/controllers/cancelled-rides-ctrl.js"></script>
   <script src="app/js/controllers/completed-rides-ctrl.js"></script>
   <script src="app/js/controllers/reset-password-ctrl.js"></script>
   <script src="app/js/controllers/change-password-ctrl.js"></script>
   <script src="app/js/controllers/scheduled-rides-ctrl.js"></script>
   <script src="app/js/controllers/edit-driver-ctrl.js"></script>
   <script src="app/js/controllers/approve-driver-ctrl.js"></script>
   <script src="app/js/controllers/edit-admin-ctrl.js"></script>
   <script src="app/js/controllers/view-admin-ctrl.js"></script>
   <script src="app/js/controllers/contact-us-ctrl.js"></script>
   <script src="app/js/controllers/interested-drivers-ctrl.js"></script>

   <!-- blog -->
   <script src="app/js/controllers/blog-ctrl.js"></script>
   <!-- end -->

   <script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBYEaXbsVHu9OZs1ikBzv9KL0JiRgUgWAk&v=3&sensor=false&amp;libraries=places'></script>
   <script src="vendor/marker/markerwithlabel.js"></script>
   <script src="vendor/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
   <script src="vendor/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
   <script src="vendor/bootstrap-daterangepicker-master/moment.js"></script>
   <script src="vendor/bootstrap-daterangepicker-master/daterangepicker.js"></script>
   <script src="vendor/angular-daterange-picker/angular-daterangepicker.min.js"></script>

   <script src="vendor/bootstrap-dateTimePicker/bootstrap-datetimepicker.min.js"></script>
         <script src ="vendor/maplabel-compiled.js"></script>

   <script src="vendor/jquery.cookie.js"></script>
   <script src="vendor/alasql.min.js"></script>
   <script src="app/js/controllers/add-booking-ctrl.js"></script>
   <script src="app/js/controllers/engagement-ctrl.js"></script>
   <script src="app/js/controllers/invoice-list-ctrl.js"></script>
   <script src="app/js/controllers/surge-pricing-ctrl.js"></script>
   <script src="app/js/controllers/email-template-ctrl.js"></script>
   <script src="app/js/controllers/view-driver-ctrl.js"></script>
   <script src="app/js/controllers/view-customer-ctrl.js"></script>
   <script src="app/js/controllers/edit-customer-ctrl.js"></script>
   <script src="app/js/controllers/bk-completed-rides.ctrl.js"></script>
   <script src="app/js/controllers/bk-ongoing-rides.ctrl.js"></script>
   <script src="app/js/controllers/bk-cancelled-rides.ctrl.js"></script>
   <script src="app/js/controllers/bk-requested-rides.ctrl.js"></script>
   <script src="app/services/promo_service.js"></script>
   <script src ="vendor/markerclusterer/markerclusterer.js"></script>
   <script>
       moment().format();
   </script>

</body>

</html>
