<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header" style="background-color: #fff">
        <a class="navbar-brand">
            <div class="brand-logo">
                <img src="app/img/logo.png" alt="App Logo" class="img-responsive img-logo" style="max-height:70px;"/>
            </div>
            <div class="brand-logo-collapsed">
                <img src="app/img/logo.png" alt="App Logo" class="img-responsive"/>
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a href="#" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
                    <em class="fa fa-navicon icon-nav"></em>
                </a>
                <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                <a href="#" toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
                    <em class="fa fa-navicon icon-nav"></em>
                </a>
            </li>
        </ul>
        <!-- END Left navbar-->
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <!-- Fullscreen (only desktops)-->
            <li class="visible-lg">
                <a href="#" toggle-fullscreen="toggle-fullscreen" title="Full Screen">
                    <em class="fa fa-expand icon-nav"></em>
                </a>
            </li>
            <li>
                <a title="Change Password"  ng-click="$state.go('app.changepassword')">
                    <em class="fa fa-lock icon-nav"></em>
                </a>
            </li>
            <!-- START Logout function-->
            <li>
                <a title="Logout" ng-controller="LoginController" ng-click="logout()">
                    <em class="icon-logout"></em>
                    <!-- ***************************************************************************
                    ******************* Modal for logout dialog ************************************
                    ********************************************************************************-->
                    <script type="text/ng-template" id="logout_dialog">
                        <div class="ngdialog-message">
                            <h4>Are you sure you want to logout ?</h4>
                            <div >
                                <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
                                    <button type="submit" ng-click="logoutFunction()" class="btn btn-primary" >Yes</button>
                                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
                                </form>
                            </div>
                        </div>
                    </script>


                </a>
            </li>
            <!-- END Logout function-->
        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->

</nav>
<!-- END Top Navbar-->