<div class="block-center mt-xl wd-xl" ng-controller="RestPasswordController">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="app/img/logo.png" alt="Image" class="block-center logo-div" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">RESET PASSWORD</p>
            <form role="form" ng-submit="resetPassword()" validate-form="" novalidate="" class="mb-lg">
                <div class="form-group has-feedback">
                    <input type="password"  placeholder="Enter password" class="form-control" ng-model="resetPass.password" data-parsley-minlength="6" required="required"/>
                </div>
                <div class="form-group has-feedback">
                    <input type="password"  placeholder="Enter confirm password" class="form-control" ng-model="resetPass.confirmpassword" required="required"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block login-btn">Reset</button>
            </form>
            <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
            <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
        </div>
    </div>
    <!-- END panel-->
</div>