<h3>
    New Booking
    <small>Add a New Booking.</small>
</h3>
<style>
    th {
        text-align: center;
    }
</style>

<div ng-controller="AddBookingController" class="container-fluid" id="main-content">
    <div class="row">
        <div class="col-lg-12" ng-show="1">
            <div class="row">
                <div class="col-lg-4">
                    <form method="post" validate-form="" novalidate="" id="dispatcher_form" ng-class="{'whirl duo' : showloader }" >
                        <!-- START panel-->
                        <div class="panel panel-default">
                            <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
                            <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
                            <div class="panel-body">

                                <div class="form-group" style="float: left;width: 60%;">
                                    <input type="text" ng-model="asyncSelected" id='search_phone_no'
                                           placeholder="Enter Phone Number"
                                           typeahead="address for address in getContactNumber($viewValue)"
                                           typeahead-on-select="setData(asyncSelected)" typeahead-loading="loadingLocations"
                                           style="  height: 36px; " class="form-control" ng-disabled="ride_function"
                                           ng-keypress="checkEnterKey($event,asyncSelected)"/>
                                </div>

                                <div style="float: right;width: 30%;">
                                    <button type="button" class="btn btn-primary" ng-click="setData(asyncSelected)" ng-disabled="ride_function"
                                            style="height: 36px;width:100%;padding: 0px; ">Get Details
                                    </button>
                                </div>
                                <div style="clear: both;"></div>

                                <div class="form-group">

                                    <input ng-hide="true" type="text" name="id" class="form-control"
                                           ng-model="info.user_id"/>
                                </div>
                                <div class="form-group">

                                    <input ng-hide="true" type="text" name="id" class="form-control"
                                           ng-model="info.access_token"/>
                                </div>
                                <div class="form-group" style="width:80%;float:left">
                                    <input type="text" name="name" required="required" class="form-control" disabled="disabled"
                                           placeholder="Name"
                                           ng-model="info.user_name"/>
                                </div>
                                <div class="btn btn-sm btn-default" ng-disabled="editUsername" style="float:right" ng-click="editUserInfo(asyncSelected)"><i class="fa fa-edit pencil-icon"></i></div>
                                <div style="clear:both"></div>
                                <div class="form-group">
                                    <input type="text" name="email" required="required" class="form-control" disabled="disabled"
                                           placeholder="Email"
                                           ng-model="info.user_email"/>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" placeholder="Select-car">Car Type</label>
                                    <select name="account" class="form-control" ng-options="item.type as item.name for item in carlist" ng-model="info.car_type" required="required" ng-disabled="ride_function">
                                        <!--<option ng-repeat="cars in list" ng-value="cars.car_type">{{cars.car_name}}</option>-->
                                        <option value>-- Select an option--</option>

                                    </select>
                                    <!--<select required ="required" ng-model="adddriver.carType"-->
                                            <!--class="chosen-select form-control"-->
                                            <!--ng-options="item.type as item.name for item in carlist">-->
                                        <!--<option value="">&#45;&#45; Select an option&#45;&#45;</option>-->
                                    <!--</select>-->
                                </div>


                                <div class="form-group" style="float:left;width:85%;">
                                    <input type="text" name="customer_address" required="required" id="address"
                                           typeahead-on-select="pickUpLocationOnMarker(info.chosenPlace)"  ng-disabled="ride_function"
                                           class="form-control" placeholder="Pick Up Location"
                                           ng-change="pickUpMarker(info.chosenPlace)"
                                           ng-model="info.chosenPlace"  googleplace/>
                                </div>

                                <img ng-src="app/img/redMarker.png" style="height:35px;float: right" ng-click="pickUpLocationOnMarker(info.chosenPlace)" >
                                <div style="clear: both;"></div>

                                <div class="form-group" style="float:left;width:85%;">
                                    <input type="text" name="customer_drop_off_address" id="drop_off_address"
                                           class="form-control" placeholder="Drop Off Location(Optional)" ng-disabled="ride_function"
                                           ng-model="info.dropOffPlace"  googleplace/>
                                </div>
                                <img ng-src="app/img/greenMarker.png" style="height:35px;float: right" ng-click="dropOffLocationOnMarker(info,0)">
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="control-label">Comments</label>
                                    <input type="text" name="promo_code"  class="form-control"
                                           ng-model="info.details" />
                                </div>
                                <div class="form-group">
                                <input type="checkbox" ng-model="info.isShowPhoneNoToDriver"> Show my number to Driver
                                </div>

                                <!--<div style="float:right;color:#5d9cec" ng-click="promodivshow=!promodivshow">Got a Promocode ?</div>-->
                                <div style="clear:both"></div>
                                <div class="form-group fadein fadeout" ng-show="promodivshow" id="promodiv">
                                    <label class="control-label">Apply Promo Code</label>
                                    <input type="text" name="promo_code"  class="form-control"
                                           ng-model="info.promo_code" />
                                </div>

                                <!--<input type="radio" name="book_type" ng-value="false" ng-model="book_type" ng-disabled="ride_function">-->
                                <!--<span style="margin-left: 5px;">Manual Booking</span>-->
                                <!--<input type="radio" name="book_type" ng-value="true" ng-model="book_type"  style="margin-left: 10px;" ng-disabled="ride_function">-->
                                <!--<span style="margin-left: 5px;">Automatic Booking</span>-->
                                <!--<br>-->

                                <!--<input type="radio" name="time" ng-show="book_type" ng-value="false" ng-model="time_value" ng-disabled="ride_function">-->
                                <!--<span style="margin-left: 5px;" ng-show="book_type">Now</span>-->
                                <!--<input type="radio" name="time" ng-show="book_type" ng-value="true" ng-model="time_value"  style="margin-left: 10px;" ng-disabled="ride_function">-->
                                <!--<span style="margin-left: 5px;" ng-show="book_type">Later</span>-->
                                <!--<br>-->

                                <div class="form-group" ng-show="time_value">
                                    <br>
                                    <input type="text" class="form-control" id="pick_up_time" readonly=""
                                           style="cursor: pointer" placeholder="Pick Up Time(for Later booking)">
                                </div>
                                <div ng-show="promosuccessMsg" class="alert alert-success text-center">{{promosuccessMsg}}</div>
                                <div ng-show="promoerrorMsg" class="alert alert-danger text-center">{{promoerrorMsg}}</div>

                                <div style="text-align: center" >
                                    <button type="button" class="btn btn-primary" ng-click="checkBookingStatus(info)"
                                            style="margin-top: 10px;  width: 99px;"
                                            ng-disabled="ride_function">{{rideText}}
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="clearData()"
                                            style="margin-top: 10px;  width: 99px;">Reset
                                    </button>
                                </div>
                            </div>

                        </div>
                        <!-- END panel-->
                    </form>
                   <div style="width:70%;margin:auto">
                    <hr ng-show="approx_value_show">
                    <div ng-show="eta_flag" class="approx_val"><span style="float:left" >ETA:</span><span style="float:right" >{{eta}} min </span></div>
                       <div style="clear:both"></div>
                    <div ng-show="approx_price" class="approx_val"><span>Estimated Price:</span><span style="float:right;">£{{estimated_price}}</span></div>
                    <hr ng-show="approx_value_show">
                   </div>



                </div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body" >
                            <div id="map-container" style="height: 350px;margin-bottom: 15px;"></div>
                            <div style="text-align: center" ng-show="rideStatusShow">
                                Ride Details
                                <div class="panel panel-default">
                                    <div class="table-responsive">
                                        <table id="datatable2" class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>Ride Id</th>
                                                <th>Assigning</th>
                                                <th>Vehicle Number</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{rideId}}</td>
                                                <td>{{assignedTo}}</td>
                                                <td>{{vehicleNumber}}</td>
                                                <td ng-style="{color:statusColor}">{{rideStatus}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <!--<div class="col-lg-8">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body" >-->
                            <!--<div id="map-container" style="height: 350px;margin-bottom: 15px;"></div>-->
                            <!--<div style="text-align: center" ng-show="show_driver_flag">-->
                                <!--Driver Details-->
                                <!--<div class="panel panel-default">-->
                                    <!--<div class="table-responsive">-->
                                        <!--<table id="datatable2" class="table table-striped table-hover">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th>Driver Name</th>-->
                                                <!--<th>Contact Info</th>-->
                                                <!--<th>Driver Image</th>-->
                                                <!--<th>Vehicle Number</th>-->
                                                <!--<th>Status</th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr>-->
                                                <!--<td>{{driver_data.user_name}}</td>-->
                                                <!--<td>{{driver_data.phone}}</td>-->
                                                <!--<td style="width:20%"><img src={{driver_data.img_src}} style="width:50%" /></td>-->
                                                <!--<td>{{driver_data.car_no}}</td>-->
                                                <!--<td>{{driver_data.status}}</td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div style="text-align: center" ng-show="manual_drivers">-->
                                <!--Driver Details-->
                                <!--<div class="panel panel-default">-->
                                    <!--<div class="table-responsive">-->
                                        <!--<table id="driver_table" class="table table-striped table-hover">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th style="width:25%;text-align: center;">Driver Name</th>-->
                                                <!--<th style="width:25%;text-align: center;">Distance ( in miles )</th>-->
                                                <!--<th style="width:25%;text-align: center;" >Contact-no</th>-->
                                                <!--<th style="width:25%;text-align: center;">Request</th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr ng-repeat="data in list">-->
                                                <!--<td>{{data.user_name}}</td>-->
                                                <!--<td>{{data.distance}}</td>-->
                                                <!--<td>{{data.phone_no}}</td>-->
                                                <!--<td>-->
                                                    <!--<button type="button" class="btn btn-primary assignDriver" ng-click="sendDriverRequest(data.user_id)">-->
                                                        <!--Send Request-->
                                                    <!--</button>-->
                                                <!--</td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->


                    <!--</div>-->

                <!--</div>-->
            </div>
        </div>
    </div>

    <!-- **************************************************************************
 ******************* Modal to display new reg msg *********************************
 *******************************************************************************-->
    <script type="text/ng-template" id="display_new_reg_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="openNext()" class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>

    <!-- ***************************************************************************
     ******************* Modal for new Registration ********************************
     ***************************************************************************-->
    <script type="text/ng-template" id="reg_modal" styel="top:-50px">
        <div class="ngdialog-message">
            <h3>Register User</h3>

            <div class="panel panel-default">
                <form method="post" validate-form="" novalidate="" ng-submit="NewRegistration(newReg)">
                    <div ng-show="newReg.successMsg" class="alert alert-success text-center">{{newReg.successMsg}}</div>
                    <div ng-show="newReg.errorMsg" class="alert alert-danger text-center">{{newReg.errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" name="name" class="form-control" required="required"
                                   ng-model="newReg.firstName"
                                   placeholder=' First Name'/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input type="text" name="name" class="form-control"
                                   ng-model="newReg.lastName"
                                   placeholder='Last Name'/>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">Country Code</label><br>
                            <input type="text" name="name" class="form-control" required="required"
                                   ng-model="newReg.countryCode"/>
                        </div>
                        <div class="form-group col-xs-8">
                            <label class="control-label">Phone No.</label>
                        <input type="text" name="phone_no" class="form-control" required="required" ng-model="newReg.phoneNo"
                               data-ui-mask="(999)999-9999"/>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" name="email" class="form-control" ng-model="newReg.email"
                                   data-parsley-type="email"
                                   placeholder="Email"/>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary" ng-hide="time_msg">Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" ng-hide="time_msg">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>
</div>

