<h3>
    Dashboard
    <small>{{ 'Welcome to ' + app.name}}!</small>
</h3>
<div  ng-controller="DashboardController">
    <!-- START widgets box-->
    <!--<div class="row" ng-show="showdataflag">-->


        <!--<div class="col-lg-12" >-->

            <!--<div class="panel panel-default home-panel">-->
                <!--<div class="panel-heading"><h4>Today's Data</h4></div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<h4>Today's Data</h4>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 col-sm-12">-->
            <!--&lt;!&ndash; START widget&ndash;&gt;-->
            <!--<div class="panel widget bg-primary">-->
                <!--<div class="row row-table">-->
                    <!--<div class="col-xs-4 text-center bg-primary-dark pv-lg">-->
                        <!--<em class="fa fa-car fa-3x car"></em>-->
                    <!--</div>-->
                    <!--<div class="col-xs-8 pv-lg">-->
                        <!--<div class="h2 mt0">{{stats.ridestoday}}</div>-->
                        <!--<div class="text-uppercase">Total Rides Today</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-4 col-md-6 col-sm-12">-->
            <!--&lt;!&ndash; START widget&ndash;&gt;-->
            <!--<div class="panel widget bg-purple">-->
                <!--<div class="row row-table">-->
                    <!--<div class="col-xs-4 text-center bg-purple-dark pv-lg">-->
                        <!--<em class="icon-users fa-3x"></em>-->
                    <!--</div>-->
                    <!--<div class="col-xs-8 pv-lg dashboard-data">-->
                        <!--<div class="h2 mt0">{{stats.userstoday}}-->
                        <!--</div>-->
                        <!--<div class="text-uppercase ">Total Registrations Today</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-4 col-md-12 col-sm-12">-->
            <!--&lt;!&ndash; START widget&ndash;&gt;-->
            <!--<div class="panel widget bg-green">-->
                <!--<div class="row row-table">-->
                    <!--<div class="col-xs-4 text-center bg-green-dark pv-lg">-->
                        <!--<em class="fa fa-gbp fa-3x dollar"></em>-->
                    <!--</div>-->
                    <!--<div class="col-xs-8 pv-lg">-->
                        <!--<div class="h2 mt0">{{stats.revenuetoday}}</div>-->
                        <!--<div class="text-uppercase">Total Revenue Today</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; END widgets box&ndash;&gt;-->

    <!--<div class="row" ng-show="showdataflag">-->
        <!--<div class="col-lg-12">-->

            <!--<div class="panel panel-default home-panel">-->
                <!--<div class="panel-heading"><h4>Total Data</h4></div>-->
            <!--</div>-->

        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 col-sm-12">-->
            <!--&lt;!&ndash; START widget&ndash;&gt;-->
            <!--<div class="panel widget bg-primary">-->
                <!--<div class="row row-table">-->
                    <!--<div class="col-xs-4 text-center bg-primary-dark pv-lg">-->
                        <!--<em class="fa fa-car fa-3x car"></em>-->
                    <!--</div>-->
                    <!--<div class="col-xs-8 pv-lg">-->
                        <!--<div class="h2 mt0">{{stats.rides}}</div>-->
                        <!--<div class="text-uppercase">Total Rides</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-4 col-md-6 col-sm-12">-->
            <!--&lt;!&ndash; START widget&ndash;&gt;-->
            <!--<div class="panel widget bg-purple">-->
                <!--<div class="row row-table">-->
                    <!--<div class="col-xs-4 text-center bg-purple-dark pv-lg">-->
                        <!--<em class="icon-users fa-3x"></em>-->
                    <!--</div>-->
                    <!--<div class="col-xs-8 pv-lg">-->
                        <!--<div class="h2 mt0">{{stats.users}}-->
                        <!--</div>-->
                        <!--<div class="text-uppercase">Total Registrations</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-4  col-md-12 col-sm-12">-->
            <!--&lt;!&ndash; START widget&ndash;&gt;-->
            <!--<div class="panel widget bg-green">-->
                <!--<div class="row row-table">-->
                    <!--<div class="col-xs-4 text-center bg-green-dark pv-lg">-->
                        <!--<em class="fa fa-gbp fa-3x dollar"></em>-->
                    <!--</div>-->
                    <!--<div class="col-xs-8 pv-lg">-->
                        <!--<div class="h2 mt0">{{stats.revenue}}</div>-->
                        <!--<div class="text-uppercase">Total Revenue</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row" >
        <!-- END widgets box-->
        <div class="col-lg-12">
            <div class="panel panel-default home-panel">
                <div class="panel-heading">
                    <h4>Live Tracking (No. Of Drivers {{total_no_of_drivers}}) &nbsp;
                    <span class="text-success">Online Free: {{driverStats.free}}</span> &nbsp;
                    <span class="text-danger">Online Busy: {{driverStats.busy}}</span> &nbsp;
                    <span class="text-bold">Offline: {{driverStats.offline}}</span> </h4>
                </div>
            </div>
            <div class="panel-body">
                <div id="map-div-content">
                    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                    <div id="map-container" style="height: 650px;"></div>
                    <div id="map-info">
                        <div class="fa fa-circle online-free" style="margin:2px"><span>Online - Free</span></div><br>
                        <div class="fa fa-circle busy" style="margin:2px"><span>Online - Busy</span></div><br>
                        <div class="fa fa-circle offmode" style="margin:2px"><span>Offline</span></div><br>
                    </div>
                    <div style="clear:both"></div>
                </div>

            </div>
        </div>




    </div>

</div>
