
<style>
    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .glyphicon-calendar:before {
        content: "\e109";
    }
</style>
<h3 xmlns="http://www.w3.org/1999/html">
    Edit Customer Details
    <!--<small></small>-->
</h3>
<div class="row" ng-controller="EditCustomerController">
    <div class="col-lg-6 col-md-6">
        <form name ="myForm" method="post"  validate-form="" novalidate="" ng-submit="editCustomerSubmit(editcustomer)">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label class="control-label "> Country Code</label>
                         <input type="text" class="form-control"  readonly="" ng-model="editcustomer.country_code"
                                  />
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Mobile Number</label>
                        <input type="text" class="form-control" readonly=""  ng-model="editcustomer.mobile_num" data-ui-mask="(999)999-9999"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">First Name</label>
                        <input type="text"required="required" class="form-control"
                               ng-model="editcustomer.firstname" data-parsley-pattern="/^[a-zA-Z ]*$/"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Last Name</label>
                        <input type="text"required="required" class="form-control"
                               ng-model="editcustomer.lastname" data-parsley-pattern="/^[a-zA-Z ]*$/"/>
                    </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
                    <div style="clear:both"></div>

                    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">
                        {{successMsg}}
                    </div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">
                        {{errorMsg}}
                    </div>
                </div>
            </div>
            <!-- END panel-->
        </form>


    </div>
 <!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="$state.reload() && closeThisDialog(0)"class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>
    <script>
        $('#dateofbirth').datepicker({
            format: 'dd/mm/yy',
            endDate:new Date(),
            autoclose: true
        });
    </script>
</div>