<h3>
    Invoice List
    <small>Displaying list of all the invoice of Corporate Admin.</small>
</h3>
<div ng-controller="InvoiceListController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Sent Date</th>
                            <th>Amount</th>
                            <th>View Invoice</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">

                            <td>{{data.invoice_id}}</td>
                            <td>{{data.start_date}}</td>
                            <td>{{data.end_date}}</td>
                            <td>{{data.sent_date}}</td>
                            <td>{{data.payable_amount}}</td>
                            <td>
                                <a class="btn btn-sm btn-default"  target="_blank" ng-href ="{{data.invoice_view_url}}"
                                   title="View Invoice">
                                    <i class="fa fa-eye pencil-icon"></i>
                                </a>
                            </td>


                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="Start Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder="End Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Sent Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Amount"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>


                            <th>
                                <input type="text" name="filter_average_rating" readonly placeholder="View"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>


                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->




</div>

