<h3>
    Vehicles
    <small>Displaying list of all the vehicles in the system.</small>


</h3>

<div ng-controller="VehicleController" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3>
                <a ng-click="openAddVehicleDialog()" class="btn btn-primary pull-right head_button">Add Vehicle</a>
            </h3>
        </div>
    </div>
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2"  class="table table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Model</th>
                            <th>Registration</th>
                            <th>Status</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">
                            <td>{{data.model}}</td>
                            <td>{{data.registrationNo}}</td>
                            <td ng-show="data.status"><i class="fa fa-check icon-css online"></i></td>
                            <td ng-show="!data.status"><i class="fa fa-circle icon-css offline"></i></td>

                            <td>
                                <a class="btn btn-sm btn-default" ng-click="editVehicleDialog(data.id,data.type)"
                                title="Edit Vehicle">
                                <i class="fa fa-pencil icon-css pencil-icon"></i>
                                </a>

                                <a class="btn btn-sm btn-default" ng-click="deletedriver(data.id)"
                                   title="Delete">
                                    <i class="fa fa-trash-o block-icon"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>

                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_edit_driver" placeholder="Actions" readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->
    <!-- ***************************************************************************
******************* Modal for change pass of driver  ***************************
********************************************************************************-->
    <script type="text/ng-template" id="edit_vehicle_dialog">
        <div class="ngdialog-message">
            <h3>Edit Vehicle</h3>

            <div class="panel panel-default">
                <form method="post" name="myForm" validate-form="" novalidate=""  ng-submit="submitUpdateVehicle(updateVehicle)">
                    <div ng-show="updateVehicle.successMsg" class="alert alert-success text-center">{{updateVehicle.successMsg}}</div>
                    <div ng-show="updateVehicle.errorMsg" class="alert alert-danger text-center">{{updateVehicle.errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            Model
                            <input type="text" placeholder="Model" class="form-control"
                                   ng-model="updateVehicle.vehicle_model" required="required"/>
                        </div>
                        <div class="form-group">
                            Registration Number
                            <input type="text" placeholder="Registration No." class="form-control"
                                   ng-model="updateVehicle.reg_no" required="required"/>
                        </div>
                        <div class="form-group">
                            Status
                            <select required ="required" ng-model="updateVehicle.status"
                                    class="chosen-select form-control"
                                    ng-options="item.id as item.name for item in vehicle_status">
                                <option value="">-- Select an option--</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                    </div>
                </form>

            </div>
        </div>

    </script>
<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="$state.reload() && closeThisDialog(0)"  class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>
    <!-- ***************************************************************************
******************* Modal for add  vehicle  ***************************
********************************************************************************-->
    <script type="text/ng-template" id="add_vehicle_dialog">
        <div class="ngdialog-message">
            <h3>Add Vehicle</h3>

            <div class="panel panel-default">
                <form method="post" name="myForm" validate-form="" novalidate=""  ng-submit="submitAddVehicle(addVehicle)">
                    <div ng-show="addVehicle.successMsg" class="alert alert-success text-center">{{addVehicle.successMsg}}</div>
                    <div ng-show="addVehicle.errorMsg" class="alert alert-danger text-center">{{addVehicle.errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Car Type</label>
                            <select required="required" ng-model="addVehicle.type"
                                    class="chosen-select form-control"
                                    ng-options="item.type as item.name for item in carlist">
                                <option value=""> -- Select type-- </option>
                            </select>


                        </div>
                        <div class="form-group">
                            Model
                            <input type="text" placeholder="Model" class="form-control"
                                   ng-model="addVehicle.vehicle_model" required="required"/>
                        </div>
                        <div class="form-group">
                            Registration Number
                            <input type="text" placeholder="Registration No." class="form-control"
                                   ng-model="addVehicle.reg_no" required="required"/>
                        </div>
                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                    </div>
                </form>

            </div>
        </div>

    </script>

</div>


