<h3>
    Passengers
    <small>Displaying list of all the passengers in the system.</small>
</h3>
<div ng-controller="PassengerDatabaseController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Contact</th>
                            <th>Name</th>
                            <th>Ratings</th>
                            <th>Login</th>
                            <th>Registration</th>
                            <th>Deleted</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">

                            <td>{{data.phone_no}}<br>
                            {{data.user_email}}</td>
                            <td>{{data.name}}</td>
                            <td><strong>{{data.ratings}}</strong>/5</td>
                            <td>
                                <div ng-if="data.isLogin" class="fa fa-circle online">
                                </div>
                                <div ng-if="!data.isLogin" class="fa fa-circle offline"></div>
                            </td>
                            <td>{{data.registered}}</td>
                            <td>{{data.is_deleted}}</td>
                            <td>
                                <a class="btn btn-sm btn-default"  ng-href='#{{data.viewcustomer_url}}'
                                   title="View">
                                    <i class="fa fa-eye  pencil-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default"  ng-href='#{{data.editcustomer_url}}'
                                   title="Edit">
                                    <i class="fa fa-pencil icon-css pencil-icon"></i>
                                </a>
                                <!--<a class="btn btn-sm btn-default"  ng-href='#{{data.trips_url}}'-->
                                   <!--title="Edit">-->
                                    <!--<i class="fa fa-car"></i>-->
                                <!--</a>-->

                                <!-- data.is_blocked =0 means passenger is unblock do it block -->
                                <a class="btn btn-sm btn-default" title="block" ng-hide="{{data.is_blocked}}" ng-click="blockunblockpassenger_popup(1,data.user_id)">
                                    <i class="fa fa-unlock unblock-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" title="unblock" ng-show="{{data.is_blocked}}" ng-click="blockunblockpassenger_popup(0,data.user_id)">
                                    <i class="fa fa-lock block-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" ng-click="deletepassenger_popup(data.user_id)"
                                   title="Delete">
                                    <i class="fa fa-trash-o block-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default"
                                   title="Change Password">
                                    <i class="fa fa-asterisk pencil-icon" ng-click = "openPasswordDialog(data.user_id)"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>

                            <th>
                                <input type="text" name="filter_average_rating" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_block"  readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>

<!-- ***************************************************************************
*********** Modal for confirm whether passenger is to be delete or not *********
********************************************************************************-->
    <script type="text/ng-template" id="delete_passenger_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to delete  this passenger?</h4>
            <div style="margin-top: 20px;text-align: right;" >
                <form method="post" validate-form="" novalidate="">
                    <button type="submit" ng-click="delete_passenger(delete_passenger_id)" class="btn btn-primary" >Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
                </form>
            </div>
        </div>
    </script>

<!-- ***************************************************************************
******************* Modal for block unblock driver ************************************
********************************************************************************-->
    <script type="text/ng-template" id="block_unblock_passenger_modalDialog">
        <div class="ngdialog-message">
            <h4>{{blockunblockmsg}}</h4>
            <div >
                <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
                    <button type="submit" ng-click="do_block_unblock_passenger(is_blocked,blockunblockid)" class="btn btn-primary" >Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
                </form>
            </div>
        </div>
    </script>
<!-- ***************************************************************************
******************* Modal for change pass of customer  ***************************
********************************************************************************-->
    <script type="text/ng-template" id="password_dialog">
        <div class="ngdialog-message">
            <h3>Change Password</h3>

            <div class="panel panel-default">
                <form method="post" name="myForm" validate-form="" novalidate=""  ng-submit="changeDriverPass(driver)">
                    <div ng-show="driverpass.successMsg" class="alert alert-success text-center">{{driverpass.successMsg}}</div>
                    <div ng-show="driverpass.errorMsg" class="alert alert-danger text-center">{{driverpass.errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            Password
                            <input type="password" placeholder="Enter password" class="form-control"
                                   ng-model="driver.password" required="required" data-parsley-minlength="6" id="driver_password" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            Confirm Password
                            <input type="password" placeholder="Confirm password" class="form-control"
                                   ng-model="driver.confirmpassword"  data-parsley-equalto ="#driver_password" required="required" />
                        </div>

                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                    </div>
                </form>

            </div>
        </div>

    </script>

</div>

