<h3>
    Payments
    <small>Displaying list of all the payments.</small>
</h3>
<div ng-controller="PaymentController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table  table-hover txt-css " ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Driver ID</th>
                            <th>Driver Name</th>
                            <th>Driver Phone</th>
                            <th>Driver Email</th>
                            <th>Total Earning Commission</th>
                            <th>Total Earnings</th>
                            <th>Paid Payments</th>
                            <!--<th style="width:12%">Cash earnings</th>-->
                            <th>Remaining Amount</th>




                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">

                            <td>{{data.driver_id}}</td>
                            <td>{{data.user_name}}</td>
                            <td>{{data.phone_no}}</td>
                            <td>{{data.user_email}}</td>
                            <td>{{data.total_earning_commission}}</td>
                            <td>{{data.total_earnings}}</td>
                            <td>{{data.paid_payments}}</td>
                            <!--<td>{{data.cash_earnings}}</td>-->
                            <td><input type="text" ng-model="data.remaining_Amount" ></td>

                            <td style="text-align: center;">
                                <a style="width: 92px;padding: 3px;" class="btn btn-primary"
                                   title="Refund"
                                   ng-click="pay(data.driver_id,data.actual_remaining_Amount, data.remaining_Amount)">
                                    Pay
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Driver ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="Driver Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Driver Phone"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Driver Email"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder=" Earning Commission"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>

                            <th>
                                <input type="text" name="filter_total_trips" placeholder="Total Earnings"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_average_rating" placeholder="Paid Payments"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>

                            <!--<th>-->
                                <!--<input type="text" name="filter_block" placeholder="Cash earnings"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <th>
                                <input type="text" name="filter_block" placeholder="Remaining Amount"
                                       class="form-control input-sm datatable_input_col_search" readonly=""/>
                            </th>
                            <th>
                                <input type="text" name="filter_delete" placeholder="Pay" readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

    <!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>
</div>

