
<h3 xmlns="http://www.w3.org/1999/html">
    Admin Details
    <!--<small>Add Admin</small>-->
</h3>
<div class="row" ng-controller="ViewAdminController">
    <div class="table-responsive col-md-12" style="float:none;margin:auto">
        <table id="datatable2" style="background-color: #fff;" class="table table-hover" ng-class="{'whirl duo' : showloader }">
            <tbody>
            <tr>
                <td>Name</td>
                <td><strong>{{user_name}}</strong></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><strong>{{phone_no}}</strong></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><strong>{{email}}</strong> </td>
            </tr>
            <tr>
                <td>Address</td>
                <td><strong>{{address}}</strong>
                </td>
            </tr>

            </tbody>

        </table>
    </div>


</div>